.columns {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 60px;
}

.column {
  flex: 1;
}

.title {
  margin: 0;
  text-align: left;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  max-height: 320px;
  overflow: hidden;
}

.listItem {
  width: calc(50% - 8px);
  text-align: left;
  line-height: 24px;
}

.ready {
  color: #00CCCC;
}

.pending {
  color: #F2F2F3;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.statColumn {
  text-align: left;
}

.content {
  margin: 0;
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25),
               0 0 8px rgba(51, 51, 255, 0.25),
               0 4px 32px rgba(51, 51, 255, 0.5);
}
